{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PetMatch{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mainpage/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


</head>
<body>

<div class="header">
    <h1>🐾 PetFinder</h1>
    {% if user.is_authenticated %}
        <p>Hoşgeldin, {{ user.username }} | <a class="logout" href="{% url 'accounts:logout' %}">Çıkış</a></p>
    {% else %}
        <a style="color:#fff" href="{% url 'accounts:login' %}">Login</a> |
        <a style="color:#fff" href="{% url 'accounts:register' %}">Register</a>
    {% endif %}
    
</div>

<div class="nav">
    <a href="{% url 'mainpage:pet_search' %}">Arama</a>
    <a href="{% url 'mainpage:pet_list' %}">Ana Sayfa</a>
    <a href="{% url 'mainpage:pet_report' %}">Kayıp Hayvan Bildir</a>
    <a href="{% url 'mainpage:import_pets' %}">Import CSV</a>
    <a href="{% url 'mainpage:export_pets' %}">Export CSV</a>

</div>

<div class="content">
    {% block content %}{% endblock %}
</div>

<footer class="footer">
    <div class="footer-links">
        <a href="#">Hakkımızda</a>
        <a href="#">İletişim</a>
        <a href="#">Gizlilik</a>
      </div>
      <div class="copyright">
        © 2025 PetFinder. Tüm hakları saklıdır.
      </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('#id_tags').select2({
      tags: true, // Yeni etiket eklemeyi aktif eder
      tokenSeparators: [','],
      placeholder: "Etiket seçin veya yazın"
    });
  });


</script>
</body>
</html>
