{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PetMatch{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mainpage/style.css' %}">
     {% block extra_css %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


</head>
<body>

<nav class="navbar">
    <div class="navbar__logo">
      <a href="{% url 'mainpage:pet_list' %}">
        <img src="{% static 'mainpage/logo.png' %}" alt="PetFinder Logo">
      </a>
    </div>

    <div class="navbar__links">
      <a href="{% url 'mainpage:pet_list' %}">Ana Sayfa</a>
      <a href="{% url 'mainpage:pet_report' %}">Kayıp Hayvan Bildir</a>
      <a href="{% url 'mainpage:chat_list' %}">Sohbet</a>
      {% if user.is_staff %}
        <a href="{% url 'mainpage:admin_views' %}">Admin Paneli</a>
      {% endif %}
      <a href="{% url 'mainpage:import_pets' %}">Hayvan Aktar</a>
      <a href="{% url 'mainpage:export_pets' %}">Hayvanlarımı Dışarı Aktar</a>
      <a href="{% url 'mainpage:pet_search' %}">Arama</a>
    </div>

    <div class="navbar__user">
      {% if user.is_authenticated %}
        <span class="navbar__greeting">Hoşgeldin, {{ user.username }}</span>
        <div class="profile-dropdown">
          <div class="profile-toggle">
            {% if user_profile.profile_picture %}
              <img
                class="navbar__avatar"
                src="{{ user_profile.profile_picture.url }}"
                alt="Profil Resmi"
              >
            {% else %}
              <img
                class="navbar__avatar"
                src="{% static 'mainpage/default_profile.jpg' %}"
                alt="Profil Resmi"
              >
            {% endif %}
          </div>
          <div class="dropdown-content">
            <a href="{% url 'accounts:profile' %}">Profil Ayarları</a>
            <a href="{% url 'accounts:password_change' %}">Şifre Değiştir</a>
            <a href="{% url 'accounts:logout' %}">Çıkış Yap</a>
          </div>
        </div>
      {% else %}
      <div class="navbar__links">
        <a href="{% url 'accounts:login' %}">Giriş</a>
        <a href="{% url 'accounts:register' %}">Kayıt Ol</a>
      </div>
      {% endif %}
    </div>
  </nav>

   <div class="content">
    {% block content %}{% endblock %}
  </div>

  <footer class="footer">
    <div class="footer-links">
    </div>
    <div class="copyright">
      © 2025 PetFinder. Tüm hakları saklıdır.
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('#id_tags').select2({
      tags: true, // Yeni etiket eklemeyi aktif eder
      tokenSeparators: [','],
      placeholder: "Etiket seçin veya yazın"
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
      const profileToggle = document.querySelector('.profile-toggle');
      const dropdownContent = document.querySelector('.dropdown-content');

      profileToggle.addEventListener('click', function(event) {
          dropdownContent.classList.toggle('show');
          event.stopPropagation(); // Bu, window click event'inin tetiklenmesini engeller
      });

      window.addEventListener('click', function(event) {
          // Eğer tıklanan yer dropdown veya toggle değilse kapat
          if (!profileToggle.contains(event.target) && !dropdownContent.contains(event.target)) {
              dropdownContent.classList.remove('show');
          }
      });
  });

</script>
</body>
</html>
