{% extends 'mainpage/base.html' %}
{% block title %}Sohbet{% endblock %}

{% block content %}
<h2>{{ receiver.username }} ile Sohbet</h2>

<div id="chat-container">
    <div id="chat-log">
        {% for message in messages %}
            <div class="message {% if message.sender == request.user %}sent{% else %}received{% endif %}">
                <strong>{{ message.sender.username }}:</strong> {{ message.content }}
                <div class="timestamp">{{ message.timestamp|date:"d.m.Y H:i" }}</div>
            </div>
        {% endfor %}
    </div>

    <form method="post">  {% csrf_token %}
        <input type="text" name="message" placeholder="Mesaj yaz..." autocomplete="off" />
        <button class="bt bt-message" type="submit">Gönder</button>
    </form>
</div>

<a class="bt red" href="{% url 'mainpage:chat_list'  %}">← Geri Dön</a>
<script>
    const chatLog = document.querySelector('#chat-log');
    chatLog.scrollTop = chatLog.scrollHeight;
</script>
{% endblock %}