{% extends 'mainpage/base.html' %}
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'mainpage/mainpage.css' %}">
{% endblock %}
{% block title %}All Pets{% endblock %}
{% block content %}
<div class="page-wrapper">
<h2>Son Bildirilen Kayıp Hayvanlar</h2>
<ol class="pet-list">
  {% for pet in pets %}
    <li>
      <div class="pet-card">
        <h3>{{ pet.name }} ({{ pet.get_species_display }})</h3>
        {% if pet.image %}
          <img src="{{ pet.image.url }}" alt="{{ pet.name }}">
        {% else %}
          <img src="{% static 'mainpage/default_pet.jpeg' %}" alt="No image">
        {% endif %}
        <p><strong>Son görülme:</strong> {{ pet.last_seen_date }} tarihinde 
           <strong>{{ pet.last_seen_location }}</strong>'da</p>
        <a class="bt" href="{% url 'mainpage:pet_detail' pet.pk %}">Detayları Gör</a>
      </div>
    </li>
  {% empty %}
    <li>Henüz bildirilen hayvan yok.</li>
  {% endfor %}
</ol>
</div>

{% endblock %}
