{# templates/admin/message_form.html #}
{% extends 'mainpage/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'mainpage/pet_form.css' %}">
{% endblock %}


{% block content %}
<div class="form-wrapper">
    <main>
        <section>
            <h1>{{ title }}</h1>
            <form class="pet-form" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }} {{ field }}
                        {% if field.errors %}
                            <div class="error">{{ field.errors }}</div>
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="bt green">Kaydet</button>
                <a href="{% url 'mainpage:admin_message_list' %}" class="bt red text-center">İptal</a>
            </form>
        </section>
    </main>
</div>
{% endblock %}