{# templates/admin/sighting_confirm_delete.html #}
{% extends 'mainpage/base.html' %}

{% block content %}
    <main>
        <section>
            <h1>Görülmeyi Sil</h1>
            <p>Bu görülmeyi silmek istediğinize emin misiniz?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="bt red">Sil</button>
                <a href="{% url 'mainpage:admin_sighting_management' %}" class="bt">İptal</a>
            </form>
        </section>
    </main>
{% endblock %}