{% extends 'mainpage/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'mainpage/password.css' %}">
{% endblock %}

{% block title %}Şifre Değiştir{% endblock %}

{% block content %}
  <div class="password-page">
    <div class="password-card">
      <h1>Şifre Değiştir</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="bt green" type="submit">Şifreyi Değiştir</button>
      </form>
    </div>
  </div>
{% endblock %}
